---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Files">
    <main class="min-h-screen flex flex-col justify-center items-center pb-16">
        <h1 class="text-4xl font-bold mb-4">Files Page</h1>
        <p>Welcome to the Files page.</p>
    </main>
</Layout>